.OpadEditor {
  height: 100%;

  .popup {
    display: none;
  }
  .popup.open {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    left: 25vw;
    padding: 10px;
    position: absolute;
    top: 25vh;
    width: 50vw;

    .close {
      position: absolute;
      right: 5px;
      top: 5px;
    }

    .newFile {
      width: max-content;
      margin: 10px;
      background-color: #282c34ad;
      color: white;
    }
    input {
      margin: 10px;
      border: none;
      background-color: rgb(243, 243, 243);
      height: 30px;
      width: 30vw;
    }
  }
  .tabs {
    display: flex;
    height: 32px;
    // background-color: rgba(40, 44, 52, 0.082);
  
    .tab {
      max-width: 200px;
      height: 16px;
      margin: 4px;
      padding: 4px;
      background-color: #282c34ad;
      color: white;
      text-align: left;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 4px;
      cursor: pointer;
  
      .tab-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1 1;
        margin: -4px 4px;
      }
  
      .close {
        color: white;
        height: 16px;
        width: 16px;
      }
  
      .add {
        color: white;
        height: 16px;
        width: 16px;
      }
    }
  
    .tab.selected {
      background-color: #282c34;
      height: 20px;
      margin: 4px 4px 0px 4px;
      border-radius: 4px 4px 0px 0px;
    }
  
    .tab.add {
      width: max-content;
      padding: 0;
    }
  }

  .body {
    background-color: #282c34;
    color: white;
    font-family:'Courier New', Courier, monospace;
    min-height: calc(90vh - 32px);
    text-align: left;
    .line.focus {
      background-color: #6d7991; 
    }    
    .line {
      width: 100%;
      height: 20px;
      display: flex;
      white-space: pre;
      .lineno {
        padding: 0px 10px;
        min-width: 30px;
        background-color: #3c465a; 
      }
    }

  }
}