.tabs {
  display: flex;
  height: 50px;
  background-color: rgba(40, 44, 52, 0.082);

  .tab {
    width: 200px;
    background-color: #282c345d;
    color: white;
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 4px;
    padding: 0px 10px;
    border-radius: 10px;
    cursor: pointer;

    .tab-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex: 1 1;
    }

    .close {
      color: white;
    }

    .add {
      color: white;
    }
  }

  .tab.selected {
    background-color: #282c34bb;
  }

  .tab.add {
    width: max-content;
    padding: 0;
  }
}
